.comment {
  background-color: #eaeaea;
  margin: 5px 40px 10px 20px;
  padding: 10px;
  clear: both;
}
  
.comment__content {
  overflow: hidden;
  margin: 0;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 14px;
  color: #8594a3;
  line-height: 1.5;
}
