.c-comment-box {
  margin-top: 40px;
}

.c-comment-list {
    clear: both;
  }
  
.c-comment-form {
  display: block;
  margin: 0px 20px 10px 20px;
}

.c-comment-input {
  width: 500px;
  padding: 5px;
}

.c-comment-input:focus {
  outline: none;
  border: 2px solid #BBBBBB;
  border-radius: 3px;
}

.c-comment-btn__container {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

.c-comment-submit-btn {
  margin-right: 5px;
}
  
.c-comment-box__header {
  float: left;
  margin-left: 30px;
  margin-bottom: 5px;
  color: #BBBBBB;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 426px) {
  .c-comment-input {
    margin-left: 20px;
    width: 70%;
  }
  .c-comment-btn__container {
    margin-left: 18px;
  }
}

@media screen and (min-width: 769px) {
  .c-comment-input {
    margin-left: 30px;
    width: 40%;
  }
  .c-comment-btn__container {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1030px) {
  .c-comment-input {
    margin: 20px 5px 5px 0;
    width: 30%;
  }
  .c-comment-btn__container {
    margin-left: 5px;
  }
}

@media screen and (min-width: 769px) {
  .c-comment-box__header {
    margin-left: 50px;
  }
}