.c-comment-box {
  margin-top: 60px;
}

.c-comment-list {
    clear: both;
  }
  
.c-comment-form {
  display: block;
  margin: 0px 20px 10px 20px;
}

.c-comment-input {
  width: 250px;
  padding: 8px;
}

.c-comment-input:focus {
  outline: none;
  border: 2px solid #BBBBBB;
  border-radius: 3px;
}

.c-comment-btn__container {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

.c-comment-submit-btn {
  margin-left: 8px;
  padding: 6px 10px 6px 10px;
  background: #76b5f3;
  color: #fff;
  font-size: 12px;;
  border: 1px solid #76b5f3;
  border-radius: 2px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow:none;
}

.c-comment-submit-btn:hover {
  background: #5b90c5;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  text-shadow:none;
}
  
.c-comment-box__header {
  float: left;
  margin-left: 30px;
  margin-bottom: 5px;
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 400;
}
